/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
margin: 0;
}


img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

#root, #__next {
isolation: isolate;
}

:root {
    --primary: #1A2B33;
    --secondary: #1E3640;
    --grey: #A9BEC8;
    --dark-cyan: #34C3BE;
    --lighten-yellow: #F2B138;
}

.disabled {
    display: none !important;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Outfit', sans-serif;
    background-color: var(--primary);
    color: var(--grey);
    }

.header {
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    margin-top: 10rem;
}

.startContainer {
    width: clamp(28rem, 30rem, 32rem);
    height: clamp(12rem, 16rem, 18rem);
    border-radius: 0.5rem;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
    background-color: var(--secondary);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin: 3rem auto; 
}

.selectionContainer {
    width: clamp(24rem, 26rem, 28rem);
    height: clamp(5rem, 8rem, 10rem);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    background-color: var(--primary);
    margin: 1rem auto;
}

.button {
    border-radius: 1rem;
    background-color: var(--primary);
    margin: 2rem auto;
}

.circle, .cross {
    font-size: 5rem;
    width: clamp(11rem, 12rem, 13rem);
    height: clamp(4rem, 7rem, 9rem);
    border-radius: 1rem;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle:hover, .cross:hover {
    color: var(--primary);
    background-color: var(--grey);
    cursor: pointer;
    transition: 0.3s;
}

.startButton {
    display: block;
    margin: 0 auto; 
    border-radius: 0.5rem;
    background-color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--lighten-yellow);
    color: var(--primary);
    box-shadow: 0 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.startButton:hover {
    background-color: var(--grey);
    color: var(--primary);
    transition: 0.3s;
}

