/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
margin: 0;
}

body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
font-family: 'Outfit', sans-serif;
background-color: rgb(26, 43, 51);
color: rgb(169, 190, 200);
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

#root, #__next {
isolation: isolate;
}

.header {
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    margin-top: 10rem;
}

.startContainer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin-top: 5rem;
}

