/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
margin: 0;
}


img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

#root, #__next {
isolation: isolate;
}

:root {
    --primary: #1A2B33;
    --secondary: #1E3640;
    --grey: #A9BEC8;
    --dark-cyan: #34C3BE;
    --lighten-yellow: #F2B138;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Outfit', sans-serif;
    background-color: var(--primary);
    color: var(--grey);
    }

.header {
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    margin-top: 10rem;
}

.startContainer {
    width: clamp(25rem, 28rem, 30rem);
    height: clamp(10rem, 14rem, 18rem);
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
    background-color: var(--secondary);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin: 3rem auto; 
}

.selectionContainer {
    width: clamp(21rem, 24rem, 26rem);
    height: clamp(5rem, 8rem, 10rem);
    border-radius: 1rem;
    background-color: var(--primary);

}

